.frise {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 100%;
    background-size: contain;
    z-index: 0;
    padding-top: 900px;
}

.frise__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.article__right,
.article__left {
    display: flex;
    flex-direction: row;
    /* L'image à gauche et le texte à droite */
    align-items: flex-start;
    width: 100%;
    z-index: 1;
}

.article__right-title,
.article__left-title {
    margin-bottom: 10px;
    color: var(--blanc, #FFF);
    font-family: var(--Raleway);
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 132%;
    letter-spacing: 1.1px;
}

.article__right-text,
.article__left-text {
    color: var(--blanc, #FFF);
    font-family: var(--Raleway);
    font-size: 0.938rem;
    font-weight: 400;
    line-height: 132%;
    letter-spacing: 0.75px;
    word-wrap: break-word;
}

.article__right-content,
.article__left-content {
    display: flex;
    flex-direction: column;
    /* Aligne le titre et le texte verticalement */
    align-items: flex-start;
    width: 100%;
    padding-left: 20px;
}

.article__right-image,
.article__left-image {
    width: 150px;
    height: 262.5px;
    flex-shrink: 0;
    object-fit: cover;
}

/* Conteneur qui organise le titre et le texte verticalement */
.article__right-title-container,
.article__left-title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Changer la direction de flexbox pour .article__left */
.article__left {
    flex-direction: row-reverse;
    /* Inverse l'ordre des éléments à l'intérieur */
}

.article__left-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 20px;
    /* Ajoute un espace entre l'image et le texte */
    width: 100%;
}