.hero__image-haut {
    width: 257px;
    flex-shrink: 0;
    margin-left: -60px;
    margin-bottom: 22px;
    margin-top: 22px;
}

.hero__image-bas {
    width: 257px;
    flex-shrink: 0;
    margin-left: 70px;
}

.article__description {
    color: var(--blanc, #FFF);
    text-align: right;
    font-family: var(--Raleway);
    font-size: 11px;
    font-style: italic;
    font-weight: 200;
    line-height: 132%;
    letter-spacing: 0.55px;
    margin-bottom: 25px;
}

.hero__trailer-img {
    display: flex;
    height: 32px;
    padding: 12px 18px;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.hero__info {
    color: var(--blanc, #FFF);
    font-family: var(--Raleway);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 132%;
    letter-spacing: 0.75px;
    text-align: left;
}

.hero__text {
    color: var(--blanc, #FFF);
    font-family: var(--Raleway);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 132%;
    letter-spacing: 1.1px;
}

.article {
    margin-top: 48px;
}